@font-face {
  font-family: "BMJUA";
  src: url("./fonts/BMJUA_ttf.ttf");
}

body {
  font-family: "BMJUA";
<<<<<<< HEAD
  margin:0;
  padding:0;
=======
  margin: 0;
  padding: 0;
>>>>>>> 62a83d4f5f74f35af2e373524ce90af6e9876467
}
