.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 83vh;
  font-size: 6vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 26vw;
  height: 21vh;
  background-color: #f3f3f3;
  border-radius: 10px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cardImg {
  width: 22vw;
  flex-shrink: 0;
  height: 15vh;
}

.resultBox {
  width: 62vw;
  height: 15vh;

  margin: 2vh 0vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15vw;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.resultDivColorLose {
  background: #f26767;
}

.resultDivColorWin {
  background: #f4e286;
}

.resultDivColorDraw {
  background: #ffba68;
}
.result {
  font-size: 12vw;
}

.back {
  position: relative;
  margin-top: 3vh;
}

.opDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
