.presentDiv {
  width: 100vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kingImgDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 1vh 0;
}

.kingImgSays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.kingImgSay {
  font-size: 3.5vw;
}

.kingImg {
  width: 30vw;
}

.kingImgBigSays {
  width: 100vw;
  text-align: center;
}

.kingImgBigSay {
  font-size: 6vw;
}

.presentImg {
  width: 30vw;
  margin: 2vh 0 0 20vw;
}

.phoneNumberInputForm {
  margin: 3vh 0 0 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.phoneNumberInput {
  padding: 1vh 5vw;
  border: none;

  font-family: "BMJUA";
  font-size: 5vw;
  width: 62vw;
  background-image: url("../assets/Present/PresentInputBackImg.svg");
  background-size: cover;
}

.phoneNumberInput:focus {
  outline: none;
}

.phoneNumberInput::placeholder {
  /* font-family: "BMJUA"; */
  font-size: 5vw;
  color: black;
}

.submitInfoButton {
  position: relative;
  background: transparent;
  width: 40vw;

  padding: 1vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  margin-right: 24vw;
}

.submitInfoButton::before {
  width: 50vw;
  content: "";
  position: absolute;
  border: 0.5vw solid black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(-11deg);
  background-color: #ecc508;
}

.submitInfoButtonLastDiv {
  position: absolute;
  top: 0;
  right: -1.5vw;
}

.submitInfoButtonLast {
  font-size: 3vw;
  flex-direction: column;
  align-items: center;
  color: white;

  position: relative;
  background: transparent;

  padding: 0.5vh 1vw 0.5vh 12vw;
}

.submitInfoButtonLast::before {
  content: "";
  position: absolute;
  border: 0.5vw solid black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(-11deg);
  background-color: #4b4a46;
}

.submitInfoButtonText {
  margin-top: 2vh;
  font-size: 6vw;
}

.backButtonDiv {
  margin-top: 5vh;
}
